package router

import (
	"github.com/gin-gonic/gin"
	"{{.AppName}}/app/api"
    "{{.AppName}}/app/middleware"
)

// {{.ModuleText}}路由
func {{.ModuleName | FirstUpper}}Router(r1 *gin.RouterGroup) {
	r := r1.Group("/{{.ModuleName}}").Use(middleware.Auth())
	{
		// 获取{{.ModuleText}}列表接口
		r.GET("", api.{{.ModuleName | FirstUpper}}Index)
		// 获取{{.ModuleText}}详情接口
		r.GET("/:id", api.{{.ModuleName | FirstUpper}}Show)
		// 创建{{.ModuleText}}接口
		r.POST("", api.Create{{.ModuleName | FirstUpper}})
		// 更新{{.ModuleText}}接口
		r.PATCH("", api.Update{{.ModuleName | FirstUpper}})
		// 删除{{.ModuleText}}接口
		r.DELETE("/:id", api.Delete{{.ModuleName | FirstUpper}})
	}
}