package router

import (
	"github.com/gin-gonic/gin"
	"{{.AppName}}/app/api"
    {{if .NeedAuth}}
    "{{.AppName}}/app/middleware"
    {{end}}
)

// {{.ModuleText}}路由
func {{.ModuleName | FirstUpper}}Router(r *gin.RouterGroup) {
	r1 := r.Group("/admin/{{.ModuleName}}").Use(middleware.AdminAuth())
	{
		// 获取{{.ModuleText}}列表接口
		r1.GET("", api.{{.ModuleName | FirstUpper}}Index)
		// 获取{{.ModuleText}}详情接口
		r1.GET("/:id", api.{{.ModuleName | FirstUpper}}Show)
		// 创建{{.ModuleText}}接口
		r1.POST("", api.Create{{.ModuleName | FirstUpper}})
		// 更新{{.ModuleText}}接口
		r1.PATCH("", api.Update{{.ModuleName | FirstUpper}})
		// 删除{{.ModuleText}}接口
		r1.DELETE("/:id", api.Delete{{.ModuleName | FirstUpper}})
	}
    {{if .NeedAuth}}
	r2 := r.Group("/{{.ModuleName}}").Use(middleware.UserAuth())
	{{else}}
    r2 := r.Group("/{{.ModuleName}}")
	{{end}}
	{
		// 获取{{.ModuleText}}列表接口
		r2.GET("", api.{{.ModuleName | FirstUpper}}Index)
		// 获取{{.ModuleText}}详情接口
		r2.GET("/:id", api.{{.ModuleName | FirstUpper}}Show)
		// 创建{{.ModuleText}}接口
		r2.POST("", api.Create{{.ModuleName | FirstUpper}})
		// 更新{{.ModuleText}}接口
		r2.PATCH("", api.Update{{.ModuleName | FirstUpper}})
		// 删除{{.ModuleText}}接口
		r2.DELETE("/:id", api.Delete{{.ModuleName | FirstUpper}})
	}
}