package common

import (
	"fmt"
	"github.com/nashlibby/gk"
	"gorm.io/driver/mysql"
	"gorm.io/gorm"
	"gorm.io/gorm/logger"
	"log"
	"time"
)

type MysqlConfig struct {
	Host     string
	Port     int
	Username string
	Password string
	Database string
}

func InitMysql(mysqlConfig MysqlConfig) {
	// 数据库日志
	NewLogger := logger.New(log.New(gk.Logger("mysql").Out, "\r\n", log.LstdFlags), logger.Config{
		SlowThreshold:             time.Second, // 慢 SQL 阈值
		LogLevel:                  logger.Info, // 日志级别
		IgnoreRecordNotFoundError: true,        // 忽略ErrRecordNotFound（记录未找到）错误
		Colorful:                  false,       // 禁用彩色打印
	})

	// 初始化数据库
	dsn := fmt.Sprintf("%s:%s@tcp(%s:%d)/%s?charset=utf8mb4&parseTime=True&loc=Local", mysqlConfig.Username,
		mysqlConfig.Password, mysqlConfig.Host, mysqlConfig.Port, mysqlConfig.Database)
	db, err := gorm.Open(mysql.Open(dsn), &gorm.Config{
		Logger: NewLogger,
	})
	if err != nil {
		panic(err)
	}

	DB = db
}
