package model

import "github.com/nashlibby/gutils"

type {{ .ModuleName | FirstUpper }} struct {
	gutils.FieldId   `gorm:"embedded"`
	State           int8   `gorm:"type:tinyint(3);unsigned;default(1);comment:开启状态 0=关闭 1=开启" json:"state"`
	gutils.FieldTime `gorm:"embedded"`
}