package service

import (
	"github.com/nashlibby/gk"
	"math"
	"{{.AppName}}/app/common"
	"{{.AppName}}/app/internal/dao/model"
	"{{.AppName}}/app/internal/dao/repository"
	"{{.AppName}}/app/internal/dao/transformer"
)

type {{.ModuleName | FirstUpper}}Service struct {
	{{.ModuleName | FirstUpper}}Repository *repository.{{.ModuleName | FirstUpper}}Repository
}

func New{{.ModuleName | FirstUpper}}Service() *{{.ModuleName | FirstUpper}}Service {
	return &{{.ModuleName | FirstUpper}}Service{ {{.ModuleName | FirstUpper}}Repository: repository.New{{.ModuleName | FirstUpper}}Repository()}
}

// 根据id查找{{.ModuleText}}
func ({{.ModuleName | FirstLetter}}  *{{.ModuleName | FirstUpper}}Service) FindById(id string) (tData *model.{{.ModuleName | FirstUpper}}, err error) {
	tData, err = m.{{.ModuleName | FirstUpper}}Repository.Find("id = ?", []interface{}{id})
	if err != nil {
		return
	}

	return
}

// 获取{{.ModuleText}}列表&&分页
func ({{.ModuleName | FirstLetter}}  *{{.ModuleName | FirstUpper}}Service) GetPaginate(query map[string]map[string]interface{}, page, perPage int64, {{.ModuleName}}By ...string) (tList []*model.{{.ModuleName | FirstUpper}}, paginate common.Paginate, err error) {
	whereSql, values, _ := gk.WhereBuilder(query)
	var ob string
	if len({{.ModuleName}}By) > 0 {
		ob = {{.ModuleName}}By[0]
	} else {
		ob = "created_at desc"
	}
	tList, err := m.{{.ModuleName | FirstUpper}}Repository.Get(whereSql, values, (page-1)*perPage, perPage, ob)
	if err != nil {
		return
	}
	count, err := m.{{.ModuleName | FirstUpper}}Repository.Count(whereSql, values)
	if err != nil {
		return
	}
	paginate = common.Paginate{
		CurrentPage: page,
		PerPage:     perPage,
		Total:       count,
		TotalPage:   int64(math.Ceil(float64(count) / float64(perPage))),
	}

	return
}

// 创建{{.ModuleText}}
func ({{.ModuleName | FirstLetter}}  *{{.ModuleName | FirstUpper}}Service) Create({{.ModuleName | FirstUpper}} *model.{{.ModuleName | FirstUpper}}) error {
	return m.{{.ModuleName | FirstUpper}}Repository.Create({{.ModuleName | FirstUpper}})
}

// 根据id更新{{.ModuleText}}
func ({{.ModuleName | FirstLetter}}  *{{.ModuleName | FirstUpper}}Service) UpdateById(id string, data map[string]interface{}) error {
	return m.{{.ModuleName | FirstUpper}}Repository.Update("id = ?", []interface{}{id}, data)
}

// 根据id删除{{.ModuleText}}
func ({{.ModuleName | FirstLetter}}  *{{.ModuleName | FirstUpper}}Service) DeleteById(id string) error {
	return m.{{.ModuleName | FirstUpper}}Repository.Delete("id = ?", []interface{}{id})
}
