package api

import (
	"github.com/gin-gonic/gin"
	"strconv"
	"github.com/nashlibby/gk"
	"time"
)

{{if not .UseSwagger}}
// 心跳接口{{else}}
// @Summary 心跳接口
// @Tags 基础接口
// @Router /ping [get]
// @Produce json
// @Success 200
// @Failure 500{{end}}
func Ping(c *gin.Context) {
	gk.GinSuccess(c, 200, "请求成功", map[string]string{
		"status":    "up",
		"timestamp": strconv.Itoa(int(time.Now().Unix())),
	})
}